* {margin:0; padding:0}


p {line-height:1.4; margin-bottom:12px}
#wrapper {width:410px; margin:20px auto;}

.sliderbutton {float:left; width:3px; padding-top:100px}
.sliderbutton img {cursor:pointer}
.sliderbutton img:hover {background:#666}
#slider {float:left; position:relative; overflow:auto; width:400px; height:350px; border:2px solid #fff; background:#fff}
#slider ul {position:absolute; list-style:none; top:0; left:0}
#slider li {float:left; width:400px; height:350px; padding-right:10px}

.pagination {float:left; list-style:none; height:25px; margin:10px 0 0 5px}
.pagination li {float:left; cursor:pointer; padding:2px 6px; background: #390; border:1px solid #999; margin:0 3px 0 0; text-align:center; color:#fff; width:3px; height:5px}
.pagination li:hover {background:#777; border:1px solid #bbb; color:#fff}
.pagination li.current {border:1px solid #ccc; background:#888;}
